.character-list{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.character{
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 2px solid #a8004e;
    border-radius: 5px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 20px;
}

.character img{
    height: 100%;
    margin-bottom: 0;
}

.character p{
    margin-top: 0;
}

.header{
    background-color: #a8004e;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header input{
    padding:10px;
    background:none;
    color: white;
    border: 1px solid white;
    outline: none;
}
::placeholder{
    color: white;
}
